
body{
width:100%;

height:auto;

font-size:15px;
margin:0px;
padding: 0px;



}





#page1{
    background-image: url("37aa17d7080da3224dc200ed1db1e95f.jpg" );
    background-size:cover;
  

    background-position: center;

    height:1024px;
    width:100%;

max-width:375px;

box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);


}


@media(min-width:976px){
    
    #page1{
        background-image: url("37aa17d7080da3224dc200ed1db1e95f.jpg" );
        background-size:cover;
      
    
        background-position: center;
    
        height:1024px;
        width:100%;
    
    max-width:1440px;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    
    
    }
    


}



#navbar{
    display:flex;
    text-align: center;
    padding-top: 32px;
    margin-left:32px;
    margin-right:32px;
    justify-content: space-between;

}



#title{
font-size: 2rem;
font-family: inter, sans sans-serif;
font-weight: 900;
color: #FFFFFF;
line-height: 2rem;


}
#hamburger_menu{
    max-width: 35px;
height: 35px;
top: 32px;

padding: 8.75px 4.38px 8.75px 4.38px;
gap: 0px;
opacity: 0px;
display: flex;
flex-direction: column;
gap: 2.6666px;

}

.lines{
    width: 26.25px;
height: 2.92px;
top: 8.75px;
left: 4.38px;
gap: 0px;
opacity: 0px;
background-color: #FFFFFF;
border-radius: 4px;
margin-bottom: 2px;



}



@media(min-width:976px){
    #hamburger_menu{
        display: none;
    }
}

#page1_intro{
    height: 429px;

    width:100%;
    max-width: 314px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}


@media(min-width:976px){
    #page1_intro{
        width: 100%;
        max-width:748px;

        height: 411px;
        margin-top: 235px;
        margin-left: 72px;
        gap: 32px;
        opacity: 0px;
        
    }
    
}
#white_box{
    width:90px;
    height:15px;
    background-color: #FFFFFF;
   
}

#page1_intro_info{
    font-family: Libre Caslon Display, sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 4rem;
    color:#FFFFFF;
    margin-top:30px;

    width: 314px;
height: 186px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;




}

@media(min-width:976px){
    #page1_intro_info{
        font-family: Libre Caslon Display;
        font-size: 75px;
        font-weight: 700;
        line-height: 95px;


        text-align: left;
        color: #FFFFFF;
        width: 748px;
        text-align: left;

height: auto;

word-spacing: 4px;
border: 1px 0px 0px 0px;
opacity: 0px;
margin-bottom: 0px;

    
}



}

#page1_intro_para{

    width: 314px;
height: 90px;
gap: 0px;
opacity: 0px;
margin-top: 40px;
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30.33px;
text-align: left;
color: #FFFFFF;

}

@media(min-width:976px){
    #page1_intro_para{
        font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30.33px;
text-align: left;
max-width: 528px;
width:100%;
/* word-spacing: 2px; */
height: 60px;
gap: 0px;
opacity: 0px;
margin-top:18px;


    }



}


#learn_more_box{
    width: 153px;
    height: 42px;
    gap: 0px;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    
border: 2px solid #FFFFFF;
margin-top: 30px;
}

#learn_more_box div{
    width: 98px;
    height: 22px;
    margin-top: 9px;
    margin-left: 27px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: left;
color: #FFFFFF;

}


#page2{
    margin-top: 78px;
    background-color: #FFFFFF;
}

#page2_heading{
    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
text-align: left;
margin-left: 32px;
margin-bottom: 78px;
}

@media(min-width:976px){
  
    #page2_heading{
        width: 269px;
height: 48px;


margin-left: 72px;
gap: 0px;
opacity: 0px;

font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 48.41px;
text-align: left;
color:#000000;
margin-bottom:39px;


    }
}




#card_container{
    display:flex;
    flex-direction: column;
    gap:32px;
    margin:0px 32px;



}

@media(min-width:976px){
    #card_container{
        display:flex;
        flex-direction: row;
        gap:16px;
        margin:0px 72px;
        justify-content: space-evenly;
        margin-bottom:78px;
      

    
    
    
    }
    

    
    
    
    
    
    
    
}


.cards{
    width: 311px;
height: 619px;


gap: 0px;
opacity: 0px;

border: 1px solid #DDDDDD;
border-radius: 4px;


}
@media(min-width:976px){
    .cards{
        width: 419px;
        height: 635px;
     
    gap: 0px;
    opacity: 0px;
    
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    
    
    }
}

.card_img{
    width: 311px;
height: 352px;
gap: 0px;
border-radius: 4px;




opacity: 0px;


}
@media(min-width:976px){
    .card_img{
        width: 419px;
        height: 352px;
      
        
    gap: 0px;
    border-radius: 4px;
    
    
    
    
    opacity: 0px;
    
    
    }
}

#card_date{
    margin-top:35px;



    font-family: Inter;
font-size: 13px;
font-weight: 500;
line-height: 15.73px;
text-align: left;
color: #B7B7B7;

width: 96px;
height: 16px;

margin-left: 32px;
gap: 0px;
opacity: 0px;

}

#card_para{
    margin-top:35px;
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24.2px;
text-align: left;
margin-left: 32px;
margin-right: 32px;

width: 247px;
height: 120px;

gap: 0px;
opacity: 0px;

}

@media(min-width:976px){
    #card_date{
        width: 110px;
        height: 18px;
     
        gap: 0px;
        opacity: 0px;
        margin-left: 32px;
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18.15px;
        text-align: left;
        color: #B7B7B7;
        
    }
    
    #card_para{
        width: 355px;
        height: 120px;
        
        gap: 0px;
        opacity: 0px;
        
        margin-left: 32px;
        margin-right: 32px;
        margin-top:35px;


        font-family: Inter;
font-size: 25px;
font-weight: 700;
line-height: 30.26px;
text-align: left;
color:#000000;
word-spacing:0px;


    }
    
}